target

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

opencode.jsonc
.opencode

.auto-re

project.auto-re
019f7dcf-1cf6-7540-85cc-7b9e8ee18228/
